1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [50]:
res = ()
for i in range(1,101):
    if i%3 == 0 and i%5 == 0:
        print("HelloWorld")
        res = res + ("HelloWorld", )
    elif i%3 == 0:
        print("Hello")
        res = res + ("Hello", )
    elif i%5== 0:
        print("World")
        res = res + ("World", )
    else:
        print(i)
        res = res + (i, )
        
        
index = 0
lst = list(res)
for word in lst:
    if word == "Hello":
        lst[index] = "Python"
    elif word == "World":
        lst[index] = "Works"
    elif word == "HelloWorld":
        lst[index] = "PythonWorks"
    index+=1
    
        
res = tuple(lst)
        
print(res)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World
(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'PythonWorks', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'PythonWorks', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'PythonWorks', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'PythonWorks', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'PythonWorks', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'PythonWorks', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [54]:
def swap(a,b):
    aux = a
    a = b
    b = aux
    print(a,b)
    
def swap_no_aux(a,b):
    a,b = b,a
    print(a,b)
    
swap(10,12)
swap_no_aux("10",2)

12 10
2 10

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [55]:
import math

def dist(p1,p2):
    p1 = list(p1)
    p2 = list(p2)
    res = math.sqrt((p1[0]-p2[0])**2 + (p1[1]-p2[1])**2)
    return res

p1 = (3,0)
p2 = (0,4)
print(dist(p1,p2))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [58]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

def count_letters(s):
    res = []
    for char in s:
        if res.count(char) == 0: #if the letter is not in the res list yet. add it and count its occurences in s
            res.append(char)
            res.append(s.count(char))
    return res
        
print(count_letters(s))

['W', 3, 'r', 19, 'i', 12, 't', 19, 'e', 20, ' ', 41, 'a', 7, 'p', 8, 'o', 15, 'g', 1, 'm', 8, 'h', 9, 'n', 10, 's', 7, 'u', 7, 'b', 4, 'f', 9, '1', 2, '0', 2, '.', 3, 'B', 1, 'l', 12, 'H', 2, 'd', 5, 'v', 2, 'F', 1, 'w', 1, 'c', 1]

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [59]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def unique_numbers_oldstyle(l):
    unique_numbers = []
    for x in l:
        if x not in unique_numbers:
            unique_numbers.append(x)
    print("There are " + str(len(unique_numbers)) + " unique numbers, which are: ")
    print(unique_numbers)
     
unique_numbers_oldstyle(l)

There are 54 unique numbers, which are:
[36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [60]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

unique_numbers_set = set(l)
print("There are " + str(len(unique_numbers_set)) + " unique numbers, which are: ")
print(unique_numbers_set)

There are 54 unique numbers, which are:
{1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99}

# 6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [61]:
def my_square(x):
    return x*x
def my_cube(x):
    return x*x*x
def my_sixth_power(x):
    return x*my_square(x)*my_cube(x)

print(my_sixth_power(2))

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [63]:
def cubes_list():
    res_list = []
    for x in range(0,11):
        res_list.append(x*x*x)
    return res_list
    
a = cubes_list()
print(a)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [64]:
import math
def pyth_triples(limit):
    res_list = []
    for a in range(1,limit-1):
        for b in range(a,limit):
            c = math.sqrt(a*a + b*b)
            if(c % 1 == 0): #if calculated c is an integer
                res_list.append((a,b,int(c)))
        
    return res_list
    
limit = 100
b = pyth_triples(limit);
print(b)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (20, 99, 101), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (28, 96, 100), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (40, 96, 104), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (48, 90, 102), (51, 68, 85), (54, 72, 90), (56, 90, 106), (57, 76, 95), (60, 63, 87), (60, 80, 100), (60, 91, 109), (63, 84, 105), (65, 72, 97), (66, 88, 110), (69, 92, 115), (72, 96, 120), (80, 84, 116)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [65]:
def normalize(tup):
    sum = 0
    res_list = []
    for x in tup:
        sum += x
    for x in tup:
        res_list.append(x/sum)
    
    return tuple(res_list)
    
normalized_tuple = normalize((25,50,20,5))
print(normalized_tuple)

(0.25, 0.5, 0.2, 0.05)